/* ----------- Ajout de la police -------------------- */
@font-face {
    font-family: 'kwokwifront';
    src: url('police/kwokwifront.woff2') format('woff2'),
         url('police/kwokwifront.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ---------- Modification des balises --------------- */
html{
	font-family: kwokwifront;
	cursor: default;
}
body{
	background-image: url("image/wallpaper.webp"); /* image à la base en 4K qui a fini en 720p */
	background-repeat: no-repeat;
	background-size: 100% auto;
}
abbr{
	color: #353535;
	cursor: help;
}
table{
	border: 3px solid;
	border-collapse : collapse;
}
th{
	border: 3px solid;
	padding: 10px;
}
thead{
	background-color: #14449a;
}
tbody{
	background-color: #0080ff;
}
a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color:black;
}
/* --------- Definition des classes --------- */
.link{
	transition-duration: 0.3s;
	cursor: pointer;
}
.link:hover{
	background-color: #0080ff;
	font-size: 25px;
	padding: 3px 20px;
  	box-shadow: 10px 10px 20px black;
  	border-radius: 30px;
	transform: scale(1.1);
}
.titre{
	margin-top: 5%;
	font-size: 50px;
	transition-duration: 1.0s;
}
.titre:hover{ /* Animation pas très utile */
	transform: rotate(10deg) scale(1.2);
}
.name{
	font-size: 20px;
}
.text-box{
	padding: 30px 20px;
	width: 80%;
   	margin: auto;
	margin-top: 2%;
	border-radius: 30px;
	background: #0080ff;
	box-shadow: 5px 5px 20px black;
}
/* Barre de boutons */
.button-place{
   position:fixed;
   left:0px;
   bottom:0px;
   height:85px;
   width:100%;
}
.button-back{
	background-color:#14449a;
	box-shadow: 5px 5px 20px black;
	border-radius:50px;
	margin:auto;
	width:25%;
}
.button {
 	background-color: #0080ff;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	border:none;
 	color: white;
 	padding: 20px;
 	text-align: center;
 	display: inline-block;
 	font-size: 16px;
 	margin: 2% 3%;
	border-radius: 50%;
	transition-duration: 0.3s;
	cursor: pointer;
	width: 60px;
	height: 60px;
	box-shadow: inset 3px 3px 5px black;
}
.button:hover{
	background-color: #00ffff;
	transform: scale(1.5) rotate(20deg);
	box-shadow: 10px 10px 20px black ;
}
.button-home{
	background-image: url('image/home.webp');
}
.button-work{
	background-image: url('image/file.webp');
}
.button-study{
	background-image: url('image/study.webp');
}
.button-link{
	background-image: url('image/link.webp');
}
/* Bouton du bandeau d'alerte */
.warn-button{
	background-color: red;
	border:2px black solid;
 	text-align: center;
 	font-size: 16px;
 	margin-left: 20px;
	border-radius: 50%;
	transition-duration: 0.4s;
	cursor: pointer;
	width: 30px;
	height: 30px;
}
.warn-button:hover{
	transform: rotateY(360deg);
}
.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  flex-basis: 5%;
}
/* Bandeau d'alerte */
#warn{
  	align-items: center;
  	justify-content: center;
	display: none;
	background-color: darkred;
	margin-top: 0px;
	padding: 5px 5px;
	border-radius: 30px;
}